<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= data.name %></title>
</head>
<body>
    <h2><%= data.name %>の編集</h2>
    <!-- <form action="/gold/update/<%= data.id - 1 %>" method="POST"> -->
    <form action="/gold/update/<%= id %>" method="POST">
    <table>
        <tr><th>項目</th><th>データ</th></tr>
        <!-- <tr><td>ID</td><td><input type="numer" name="id" value="<%= data.id %>"></td></tr> -->
        <tr><td>因子個体の識別コード</td><td><input type="text" name="code" value="<%= data.code %>"></td></tr>
        <tr><td>キャラクター名</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
        <tr><td>火種</td><td><input type="text" name="spark" value="<%= data.spark %>"></td></tr>
        <tr><td>神権</td><td><input type="text" name="divine" value="<%= data.divine %>"></td></tr>
    </table>
    <input type="submit" values="登録">
    </form>
    <a href="/gold/<%= id %>">キャラクター詳細に戻る</a>
</body>
</html>

<!-- 編集時に個体因子めいがIDになってる -->
<!-- 編集の後に一覧に戻ってしまう -->