<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= data.name %></title>
</head>
<body>
    <h2><%= data.name %>の詳細</h2>
    <table>
        <tr><th>項目</th><th>データ</th></tr>
        <tr><td>聖遺物名</td><td><%= data.name %></td></tr>
        <tr><td>２セット効果</td><td><%= data.two_set %></td></tr>
        <tr><td>５セット効果</td><td><%= data.five_set %></td></tr>
        <tr><td>おすすめキャラクター</td><td><%= data.chara %></td></tr>
    </table>
    <!-- <a href="/gold/edit/<%= id %>">編集</a> -->
    <a href="/holy">聖遺物一覧に戻る</a>
    <a href="/holy/edit/<%= id %>">編集</a>
    <a href="/holy_delete/<%= id %>">削除</a>
    <!-- <a href="gold_delete/<%= id %>">削除</a> -->
    <!-- <a href="/gold/delete/<%= id %>">削除</a> -->
</body>
</html>